footer.bg-primary
  .container.text-center.text-dark
    p.float-left © #{new Date().getFullYear()} Evan King, All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a.text-dark(href='/contact') Contact
