nav.navbar.fixed-top.navbar-expand-md.navbar-dark.bg-primary.py-3
  .container
    a.navbar-brand.font-weight-bold(href='/')
      i.fas.fa-utensils.fa-lg.mr-3
      | Just Recipes
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      form.form-inline.my-2.my-lg-0.mx-3.flex-fill(action='recipes')
        input.form-control.mr-sm-2.flex-fill(value=(keyword) ? keyword : undefined type='text' name='q' placeholder='Find some recipes...')
        button.btn.btn-secondary.font-weight-bold.my-2.my-sm-0(type='submit') Search
      ul.navbar-nav
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            button.btn.btn-link.nav-link(data-toggle='modal' data-target='#loginModal') Sign in
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              i.fas.fa-user.fa-lg
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a.text-muted(href='/account') My Account
              li.dropdown-item
                a.text-muted(href='/favorites') My Favorites
              .dropdown-divider
              li.dropdown-item
                a.text-muted(href='/logout') Logout
