extends ../layout
include mixins/recipe-card

block content
  if recipes.length > 0
    .grid
      .grid-sizer.col-xs-12.col-md-6.col-lg-4
      each recipe in recipes
        +recipeCard(recipe, true)

    if !lastPage
      +infiniteScroll('favorites')

  else
    .text-center.pt-4
      h3 You don't have any favorites yet
