extends ../layout
include mixins/recipeCard

block content
  if recipes.length > 0
    .grid
      .grid-sizer.col-xs-12.col-md-6.col-lg-4
      each recipe in recipes
        +recipeCard(recipe)

    if keyword
      a.pagination__next(hidden href=`/recipes?q=${keyword}&p=2`)
    else
      a.pagination__next(hidden href="/recipes?p=2")

    if !lastPage
      .infinite-scroll-request.text-center.m-3
        .spinner-grow.spinner-grow-sm.text-secondary(role='status')
        .spinner-grow.spinner-grow-sm.text-secondary(role='status')
        .spinner-grow.spinner-grow-sm.text-secondary(role='status')

  else
    h5 No recipes found that match "#{keyword}"...
